/* font-family: 'DM Sans', sans-serif;
font-family: 'Playfair Display', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html {
  --bg-dark: #3a1f3b;
  --bg-light: #49274a;
  --content-color: #7e7e7e;
  --background: #fcf9fc;
  --navbar-text: #d4bbbb;
  --bulletin-block: #f2f2f2;
  --common-font:'DM Sans', sans-serif;
}
body {
  background: var(--background);
  /* background: url(../images/background.svg); */
}
.header {
  height: 165px;
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.date-visits {
  color: var(--navbar-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-light);
  width: 100%;
}
.date {
  padding: 5px;
  padding-left: 20px;
}
.visits {
  padding: 5px;
  padding-right: 20px;
}
.logo-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 12%;
  left: 13%;
}

.heading {
  color: white;
  padding-left: 10px;
  font-family: "Playfair Display", serif;
}
.department,
.nit {
  font-size: 2rem;
}
.dr {
  font-size: 1rem;
}

/* navbar */
.topnav.color {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  background-color: var(--bg-dark);
  /* position: sticky; */
}
.nav-content{
  width: 100%;
  display: flex;
  
  align-items: center;
  justify-content:center;
}
.menu-list{
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-evenly;
}

#ipe {
  font-size: 25px;
  background-color:#643566;
  border-radius: 50%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topnav .icon {
  display: none;
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--navbar-text);
  cursor: pointer;
}
.icon.menu-btn{
  padding-right: 10px;
}
.topnav a,
.dropbtn {
  text-decoration: none;
  color: var(--navbar-text);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav a:hover,
.dropbtn:hover {
  color: white;
}
.dropbtn {
  font-size: 16px;
  margin-top: 2px;
  outline: none;
  border: none;
  background-color: var(--bg-dark);
  color: var(--navbar-text);
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  /* display: none; */
  position: absolute;
  background-color: var(--bg-light);
  min-width: 150px;
  z-index: 2;
  /* animation */
  opacity: 0;
  transform: scale(0.3);
  transform-origin: top left;
  transition: transform 0.4s, opacity 0.2s;
}
.dropdown-content a {
  text-decoration: none;
  color: var(--navbar-text);
  padding: 10px;
}
.dropdown:hover .dropdown-content {
  /* display: flex; */
  opacity: 1;
  transform: scale(1.0);
}

/* image carousel */
.swiper-container {
  width: 100%;
  height: 500px;
}

.img-carousel {
  margin: 10px;
}
.img-one{
  /* background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/11.jpg); */
  background-image:linear-gradient(rgba(73,39,74,0.5), rgba(73,39,74,0.5)), url(../images/11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.img-two{
  background-image:linear-gradient(rgba(0,0, 0,0.5), rgba(0,0,0,0.5)), url(../images/33.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.img-three{
  background-image:linear-gradient(rgba(0,0, 0,0.5), rgba(0,0,0,0.5)), url(../images/222.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--navbar-text);
  background-color: rgba(73,39,74,0.6);
  padding: 30px;
}
.swiper-slide{
  display: flex;
  justify-content: center;
}
.info{
  font-family: var(--common-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  color: white;
}
.info-head{
  margin-bottom: 10px;
  font-size: 40px;
  text-decoration: underline;
}
.info-para{
  line-height: 28px;
  font-size: 25px;
}



