html {
  --bg-dark: #3a1f3b;
  --bg-light: #49274a;
  --common-font: "DM Sans", sans-serif;
  --main-heading:40px;
  --shadow: 7px 7px 14px #c7c7c7, -7px -7px 14px #ffffff;
  scroll-behavior: smooth;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--common-font);
  position: relative;
  margin: 30px 0px 85px 0px;
}
.content-head{
    font-size: var(--main-heading);
    margin-bottom: 10px;
}
.project-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.pro-img,
.pro-img img {
  width: 100%;
  height: 220px;
}
.pro-one,
.pro-two,
.pro-three {
  /* border: 2px solid red; */
  border-radius: 5px;
  width: 22%;
  margin: 25px;
  background: #ffffff;
  box-shadow: 7px 7px 14px #c7c7c7, -7px -7px 14px #ffffff;
  z-index: 7;
  transition: 0.3s ease-out ;
  /* border: 1px solid gray; */
}
.pro-two{
  transform: translateY(10%);
}
.pro-one:hover,.pro-three:hover{
  transform: translateY(-5%);
}
.pro-two:hover{
  transform: translateY(0);
}
.pro-info {
  padding: 20px 20px 10px 20px;
}
.pro-date-read {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 20px 20px;
}
.pro-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--bg-dark);
}
.read {
  background-color: var(--bg-dark);
  border: none;
  color: white;
  padding: 8px 25px 8px 25px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.read:hover {
  background-color: var(--bg-light);
  letter-spacing: 2px;
}
/* .project-back {
  background-color: var(--bg-dark);
  background: url(../images/project-pic.jpg) no-repeat center center/cover;
  background-color:rgb(107, 87, 108);
  height: 300px;
  width: 100%;
  position: absolute;
  top: 57.5%;
  top: 60%;
  top: 25%;
} */

/* Numbers */
.number-wrapper{
  width: 100%;
  height: 300px;
  background: url(../images/Nightlife\ Banner.svg) no-repeat center center/cover;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0px 15px 0px;
}
.students,.publications,.placements,.projects{
  background: rgba(73, 39, 74, 0.8);
  padding: 15px 40px 15px 40px;
  font-family: var(--common-font);
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}
.projects,.students{
  padding: 15px 50px 15px 50px;
}
.number{
  font-size: 40px;
}
.num-title{
  font-size: 16px;
  text-transform: uppercase;
}
.nicon{
  font-size: 40px;
}
