table{
    margin:auto; 
    max-width:70%; 
    min-width:95%;
    border:1px solid black;
}

td,th{
    padding:10px;
    text-align:center;
    border:1px solid black;
    word-wrap: break-word;
}
ol{
    list-style-type:none;
}
td p a{
    text-decoration: none; 
    font-weight:bold; 
    color:black;
} 
td p a:hover{
    color:blue;
}